<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Task manager</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--    <link th:href="@{/css/home.css}" rel="stylesheet">-->

</head>
<body>
<div class="container">

    <div class="row">

        <!-- Projects Column -->
        <div th:each="project : ${projects}" class="col-md-12">
            <form th:action="'/delete-project/' + ${project.id}" method="post">
                <h2 th:text="${project.name}" class="card-text text-center d-inline-block"></h2>
                <a class="btn btn-warning" th:href="'/edit-project' + ${project.id}">Edit</a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            <div class="list-inline">
                <form th:action="'/add-task/' + ${project.id}" method="post">
                    <div class="input-group">
                        <input type="text" name="name" class="form-control" placeholder="Type task here..."/>
                        <span class="input-group-append"><button class="btn btn-primary" type="submit">Add</button></span>
                    </div>
                </form>
            </div>
            <br>
            <div th:each="task : ${project.getTasks()}" class="list-inline">
                <form th:action="'/delete-task/' + ${task.id}" method="post">
                    <p class="d-inline-block" th:text="${task.name}"></p>
                    <a class="btn btn-warning">Edit</a>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                <hr>
            </div>
        </div>
        <form action="/add-project" method="post">
            <div class="input-group">
                <input type="text" name="name" class="form-control" placeholder="Type project name..."/>
                <span class="input-group-append"><button class="btn btn-primary" type="submit">Add new Project</button></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>