<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Task manager</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
<!--    <link th:href="@{/css/home.css}" rel="stylesheet">-->

</head>
<body>
    <div class="container">

        <div class="row">

            <!-- Projects Column -->
            <div th:each="project : ${projects}" class="col-md-12">
                <form method="post">
                    <h2 th:text="${project.name}" class="card-text text-center"></h2>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" name="filter" class="form-control" placeholder="Type task here..."/>
                            <span class="input-group-append"><button class="btn btn-primary" type="submit">Add</button></span>
                        </div>
                    </div>
                        <br>
                    <ul th:each="task : ${project.getTasks()}" class="list-group">
                        <li class="list-group-item" th:text="${task.name}"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>